<template name="formRegister">
    <div class="tab-pane form-box" id="register">
        <h1>Créer son compte</h1>
        <form class="form-signin" action="" method="">
            <input type="email" name="registerEmail" class="form-control" placeholder="Emaill Address ..." required>
            <input type="password" name="registerPassword" class="form-control" placeholder="Password ..." required>
            <button class="btn btn-info btn-block login" value="Login" type="submit">S'enregistrer</button>
        </form>
        <div id="tabs" data-tabs="tabs">
            <p class="text-center"><a href="#login" data-toggle="tab">Se connecter</a></p>
        </div>
    </div>
</template>