<template name="formLogin">
    <div class="tab-pane active form-box" id="login">
        <h1>Connexion</h1>
        <img class="avatar" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
        alt="">
        <form class="form-signin" action="" method="">
            <input type="email" name ="loginEmail" class="form-control" placeholder="Email" required autofocus>
            <input type="password" name ="loginPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-info btn-block login" value="Register" type="submit">Connexion</button>
        </form>
        <div id="tabs" data-tabs="tabs">
            <p class="text-center"><a href="#register" data-toggle="tab">Créer un compte</a></p>
        </div>
    </div>
</template>