<template name="formMainConnect">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="login-container">
                    <div id="my-tab-content" class="tab-content">
                        {{#if currentUser}}
                            {{> dashboard}}
                        {{else}}
                            {{> formLogin}}
                            {{> formRegister}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>